<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/styles/style.css">

</head>

<body class="home-page">
    <h1>Merhaba</h1>
    <a href="/login" class="btn">Giriş Yapmak İçin Tıklayınız</a>
    <a href="/register" class="btn">Kayıt Olmak İçin Tıklayınız</a>
</body>

</html>