<!DOCTYPE html>
<html lang="tr">

<head>
    <title>Login</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <h1 class="title">Login Section</h1>



    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="Username" required class="input"><br><br>
        <input type="password" name="password" placeholder="Password" required class="input"><br><br>

        <div class="button-container">
            <button type="submit" class="btn">Login</button>
            <button type="button" class="btn" onclick="window.location.href='/register';">Register</button>
        </div>
        <% if (typeof error !=='undefined' && error) { %>
            <p style="color: red;">
                <%= error %>
            </p>
            <% } %>
    </form>

</body>

</html>